{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="../static/css/leaflet.css" />
<link rel="stylesheet" href="../static/css/keyboard.css" />
<link rel="stylesheet" href="../static/css/sortable-table.css">

<style>

    slider.vertical {
        display: inline-block;
        width: .5rem;
        height: 12.5rem;
        margin: 0 1.25rem;
        -webkit-transform: scale(1,-1);
        -ms-transform: scale(1,-1);
        transform: scale(1,-1)
    }

    .control-button {
        color: #ff6a00;
        background: #ffffff;
        border: 1px solid #ff6a00;
        border-radius: 5px;
    }

    .control-button:active {
        background: #ff6a00;
        color: #ffffff;
        border: 1px solid #ff6a00;
        border-radius: 5px;
    }

    .control-button:hover {
        background: #ffa62b;
        color: #ffffff;
        border: 1px solid #ff6a00;
        border-radius: 5px;
    }

    .control-button:focus {
        background: #ffa62b;
        color: #ffffff;
        border: 1px solid #ff6a00;
        border-radius: 5px;
    }

    .btn {
        background-color: #ffffff;
        color: #ffa62b;
        border: solid 1px #ff6a00;
        border-radius: 5px;
    }

    .btn:hover {
        background-color: #ffa62b;
        color: #ffffff;
        border: solid 1px #ff6a00;
        border-radius: 5px;
    }

    .btn-add {
        background-color: #ffffff;
        color: #4cb639;
        border: solid 2px #4cb639;
        border-radius: 5px;
    }

    .btn-add:hover {
        background-color: #4cb639;
        color: #ffffff;
        border: solid 2px #4cb639;
        border-radius: 5px;
    }

    .btn-del {
        background-color: #ffffff;
        color: #ff0000;
        border: solid 2px #ff0000;
        border-radius: 5px;
    }

    .btn-del:hover {
        background-color: #ff0000;
        color: #ffffff;
        border: solid 2px #ff0000;
        border-radius: 5px;
    }

</style>

<body>
    <div>
        <p class="header-text">Dashboard</p>
    </div>

    <div class="col rounded_panel" id="panelDashboard">
        <div class="row">
            <div class="col-1" id="streamContainer" style="width:50%; height: inherit;">
                <center>
                    <img id="rover-stream" src="{{ url_for('video_feed') }}" style="width: 100%; height: fit-content;">
                </center>
            </div>
            <div class="col-2" id="mapContainer" style="width:50%; height: inherit; vertical-align:center; margin-left: auto; margin-right: auto;">
                <div id="rover-map" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
        <!--div class="col" style="height: 100%; vertical-align:center; margin-left: auto margin-right: auto;">
            <video id="video_cam" style="height: 100%; width:600px;max-width:100%;" controls autoplay name="media">
                <source src="test-0.mp4" type="video/mp4">
            </video>
        </div-->
    </div>

    <div class="row">
        <div class="col-1" style="width: 50%; height: 100%;">
            <div>
                <p class="header-text">Rover Control</p>
            </div>

            <div class="col rounded_panel">
                <div class="row">
                    <div class="col" style="width:50%; height: 100%;">
                        <div class="row" style="width: 100%; height: 90%; margin-left: auto; margin-right: auto; align-content: center;">
                            <div style="width: 90%; height: 100%; margin-left: auto; margin-right: auto; align-content: center;">
                                <center>
                                    <img style="height: 200px; width: 200px; transform-origin: center; transform: rotate(270deg); margin: 0 auto" src="../static/icons/car-top.svg">
                                </center>
                            </div>
                            <div style="width: 30px; height: initial; margin-left: auto; margin-right: auto; align-content: center;">
                                <input id="slider-thrust" class="slider" type="range" min="-100" max="100" value="0" disabled="" style="width: 200px; height: 100%; transform-origin: 50% 50%; transform: rotate(270deg); margin-left: -95px;">
                            </div>
                        </div>
                        <div class="row" style="width: 100%; height: 10%; margin-left: auto; margin-right: auto; align-content: center;">
                            <div style="width: 90%; height: 100%; margin-left: auto; margin-right: auto; align-content: center;">
                                <input id="slider-steering" class="slider" type="range" min="-100" max="100" value="0" disabled="" style="width:100%; margin-left: auto; margin-right: auto; align-content: center; margin: 0 auto;">
                            </div>
                            <div style="width: 10%; height: 100%; margin-left: auto; margin-right: auto; align-content: center;">
                                <!--BLANK-->
                            </div>
                        </div>
                        <p style="text-align: center;">
                            Thrust: <span id="thrust">0</span> |
                            Steer: <span id="steering">0</span>
                        </p>

                    </div>

                    <div class="col" style="width:50%; height: 100%;">
                        <div class="row" style="margin-left: auto; margin-right: auto; align-content: center;">
                            <center>
                                <div class="col">
                                    <button id="buttonStartStop" class="control-button" onclick="roverControlStartStop(this)">Start</button>
                                    <button id="buttonLightControl" class="control-button" onclick="roverControlLight(this)">Light On</button>
                                </div>
                            </center>
                        </div>
                        <br>
                        <div class="row" style="margin-left: auto; margin-right: auto; align-content: center;">
                            <center>
                                <div class="col">
                                    <button id="buttonModeSwitch" class="control-button" onclick="roverControlModeSwitch(this)">Set to Auto Drive</button>
                                </div>
                            </center>
                        </div>
                        <br>
                        <div class="row" style="margin-left: auto; margin-right: auto; align-content: center;">
                            <div class="case" style="margin-left: auto; margin-right: auto; align-content: center; margin:0 auto;">
                                <div class="col" style="width: 200px">
                                    <div class="row">
                                        <div class="col">
                                        </div>
                                        <div class="col">
                                            <div class="col key" data-key="arrowup">▲</div>
                                        </div>
                                        <div class="col">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="key" data-key="arrowleft">◀</div>
                                        </div>
                                        <div class="col">
                                            <div class="key" data-key="arrowdown">▼</div>
                                        </div>
                                        <div class="col">
                                            <div class="key" data-key="arrowright">▶</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2" style="width: 50%; height: 100%;">
            <div>
                <p class="header-text">Mission Control</p>
            </div>

            <div class="col rounded_panel">
                <div class="row">
                    <div class="col">
                        <label for="buttonImportWaypoints" class="btn">Import Waypoints</label>
                        <input id="buttonImportWaypoints" type="file" style="visibility: hidden; width: 0px; height: 0px;" />
                    </div>
                    <div class="col">
                        <label for="buttonExportWaypoints" class="btn">Export Waypoints</label>
                        <input id="buttonExportWaypoints" type="file" style="visibility: hidden; width: 0px; height: 0px;" />
                    </div>
                </div>

                <div style="max-height: 170px; margin-left: auto; margin-right: 0; overflow: auto; overflow-x:hidden;">
                    <table id="table_waypoints" class="sortable resizableHeader" style="width: 100%; margin-top:5px;">
                        <thead>
                            <tr>
                                <th class="num" aria-sort="ascending" style="text-align: center; width:10%; height: 30px; position: sticky; top: 0; z-index: 1;"><button type="button">ID<span aria-hidden="true"></span></button></th>
                                <th style="text-align: center; position: sticky; top: 0; z-index: 1;"><button type="button">Latitude<span aria-hidden="true"></span></button></th>
                                <th style="text-align: center; position: sticky; top: 0; z-index: 1;"><button type="button">Longitude<span aria-hidden="true"></span></button></th>
                                <th class="num" style="position: sticky; top: 0; z-index: 1;"><div><button type="button">Action<span aria-hidden="true"></span></button></div></th>
                            </tr>
                        </thead>

                        <tbody>
                        </tbody>

                    </table>
                </div>
                <br />

                <div class="col">
                    <button class="btn-add" type="submit" title="Add Waypoint" onclick="onClickAddNewWaypoints(this)" style="width:10%; height: 30px;"><strong>+</strong></button>
                    <input id="inputLatitude" type="number" min="-180" max="180" step="1" value="0" style="width: 29%; height: 30px;"></input>
                    <input id="inputLongitude" type="number" min="-180" max="180" step="1" value="0" style="width: 29%; height: 30px;"></input>
                    <select id="inputAction" style="width:29%; height: 30px;">
                        <option value="Pass">Pass</option>
                        <option value="Wait">Wait</option>
                        <option value="Return">Return</option>
                    </select>
                </div>
                <br />
                <div class="col" style="width: 100%; margin-left: auto; margin-right: auto; align-content: center; display: flex;">
                    <button class="btn-del" type="submit" title="Clear All Waypoints" onclick="onClickClearAllWaypoints(this)" style="height: 30px;align-content: center;margin-left: auto;margin-right: auto;align-content: center;"><strong>Clear All Waypoints</strong></button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p class="header-text">Rover Info</p>
    </div>

    <div class="col rounded_panel">
        <div class="row" style="height: 100%; vertical-align:center; margin-left: auto; margin-right: auto;">
            <label class="flex items-center cursor-pointer" or="toggle-yworz7uajt">
                <div class="relative">
                    <input id="toggle-yworz7uajt" onclick="requestOrientationPermission()" type="checkbox" class="hidden">
                    <div class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner">

                    </div>
                    <div style="top:-.25rem;left:-.25rem;transition:all 0.3s ease-in-out" class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0">
                    </div>
                </div>
                <div class="ml-3 text-gray-700">Enable control with device orientation</div>
            </label>

            <p style="text-align: center;">
                Alpha: <span id="orient_alpha">0</span> |
                Beta: <span id="orient_beta">0</span> |
                Gamma: <span id="orient_gamma">0</span>
            </p>

            <p style="text-align: center;">
                Steering: <span id="orient_steering">0</span> |
                Tilt: <span id="orient_tilt">0</span> |
                Compass: <span id="orient_compass">0</span>
            </p>

            <input id="toggle-geo-location" onclick="getLocation()" type="checkbox" class="hidden">

            <p style="text-align: center;">
                Latitude: <span id="home_geo_lat">0</span> |
                Longitude: <span id="home_geo_lon">0</span> |
                Altitude: <span id="home_geo_alt">0</span> |
                Accuracy: <span id="home_geo_accuracy">-1</span> m
            </p>

            <!--
            <video id="live_cam"
                    type="video/mp4"
                    src="file:///C:/Users/tr1l3165/VSProjects/PythonProjects/PedestrianSlayer2/test-0.mp4"
                    width="1280" height="720"
                    autoplay
                    loop
                    controls>
            </video>
            -->
        </div>

    </div>

    <br />

    <script>
        let thrust = 0;
        let steering = 0;
        let isRoverStopped = true;
        let isLightOn = false;
        let isManuelModeActive = true;

        const buttonStartStop = document.querySelector("#buttonStartStop");
        const buttonLightControl = document.querySelector("#buttonLightControl");
        const buttonModeSwitch = document.querySelector("#buttonModeSwitch");

        // Prevent scolling on browser using arrow keys
        window.addEventListener("keydown", function (e) {
            if (["Space", "ArrowUp", "ArrowDown", "ArrowLeft", "ArrowRight"].indexOf(e.code) > -1) {
                e.preventDefault();
            }
        }, false);

        if (isRoverStopped) {
            buttonStartStop.textContent = "Start"
        }
        else {
            buttonStartStop.textContent = "Stop"
        }

        if (isLightOn) {
            buttonLightControl.textContent = "Light Off"
        }
        else {
            buttonLightControl.textContent = "Light On"
        }

        if (isManuelModeActive) {
            buttonModeSwitch.textContent = "Set to Auto Drive"
        }
        else {
            buttonModeSwitch.textContent = "Set to Manuel Drive"
        }

        const keysArr = [...document.querySelectorAll(".key")];

        const getKey = (event) => {
            const parsedKey = event.key.toLowerCase().replace("\\", "\\\\");
            const parsedCode = event.code.toLowerCase();
            const element =
                document.querySelector(`[data-key="${parsedCode}"]`) ||
                document.querySelector(`[data-key="${parsedKey}"]`);

            return element;
        };

        document.addEventListener("keydown", (event) => {
            const key = getKey(event);
            if (key) {
                key.classList.add("active");
            }
        });

        document.addEventListener("keyup", (event) => {
            const key = getKey(event);
            if (key) {
                key.classList.remove("active");
            }
        });

        document.addEventListener("mousedown", (event) => {
            if (event.target.dataset.key) {
                event.target.classList.add("active");
            }
        });

        document.addEventListener("mouseup", (event) => {
            if (event.target.dataset.key) {
                event.target.classList.remove("active");
            }
        });

        document.addEventListener("touchstart", (event) => {
            if (event.target.dataset.key) {
                event.target.classList.add("active");
            }
        });

        document.addEventListener("touchend", (event) => {
            if (event.target.dataset.key) {
                event.target.classList.remove("active");
            }
        });

        const animate = (element) => {
            const hueColor = Math.floor(10) + 0;
            const color = `hsla(${hueColor}, 100%, 50%, 50%)`;
            const textColor = `hsl(${hueColor}, 100%, 50%)`;
            const textShadow = `0 0 0.80em ${color}, 0 0 1.60em ${color}, 0 0 4em ${color}`;
            const boxShadow = `-3px 3px 4px ${color}, 3px -3px 4px ${color}, 3px 3px 4px ${color}, -3px -3px 4px ${color}, 0 0 10px ${color}`;

            const keyIndex = keysArr.indexOf(element);
            const animatedKeysRight = keysArr.slice(keyIndex);
            const animatedKeysLeft = keysArr.slice(0, keyIndex);

            const transitionHandler = (event) => {
                if (event == null) return;

                event.target.style.boxShadow = "none";
                event.target.style.color = null;
                event.target.style.textShadow = "none";
                event.target.removeEventListener("transitionend", transitionHandler);
            };

            setTimeout(() => {
                if (element == null) return;

                element.addEventListener("transitionend", transitionHandler);
                element.style.boxShadow = boxShadow;
                element.style.color = textColor;
                element.style.textShadow = textShadow;
            }, 0);
        };

        document.addEventListener("keydown", (event) => {
            const key = getKey(event);
            if (key) {
                animate(key);
                onKeyStroke(key);
            }
        });

        document.addEventListener("click", (event) => {
            if (event.target.dataset.key) {
                animate(event.target);
                onKeyStroke(event.target);
            }
        });

        window.addEventListener("load", () => {
            const key = document.querySelector(`[data-key="enter"]`);
            animate(key);
        });


        window.addEventListener('deviceorientation', handleOrientation);
        function handleOrientation(event) {
            const alpha = event.alpha;
            const beta = event.beta;
            const gamma = event.gamma;

            if (alpha == null && beta == null && gamma == null)
                return

            document.getElementById("orient_alpha").innerText = alpha.toFixed(2);
            document.getElementById("orient_beta").innerText = beta.toFixed(2);
            document.getElementById("orient_gamma").innerText = gamma.toFixed(2);

            var rotation = getEulerAngles(getRotationMatrix(alpha, beta, gamma));
            var euler_steering = rotation[0];
            var euler_tilt = rotation[1];
            var euler_compass = rotation[2];
            document.getElementById("orient_steering").innerText = euler_steering.toFixed(2);
            document.getElementById("orient_tilt").innerText = euler_tilt.toFixed(2);
            document.getElementById("orient_compass").innerText = euler_compass.toFixed(2);

            thrust = convertRange(Math.min(Math.max(euler_tilt, -45), 45), [45, -45], [-100, 100]);
            steering = convertRange(Math.min(Math.max(euler_steering, -90), 90), [90, -90], [-100, 100]);

            document.getElementById("slider-thrust").value = thrust.toFixed(2);
            document.getElementById("slider-steering").value = steering.toFixed(2);

            document.getElementById("thrust").innerText = thrust.toFixed(2);
            document.getElementById("steering").innerText = steering.toFixed(2);

            const request = new XMLHttpRequest()
            request.open("POST", "/rover_control")
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(JSON.stringify({ "thrust": thrust.toFixed(2), "steering": steering.toFixed(2) }));

        };

        window.addEventListener("orientationchange", function () {
            const orientation = screen.orientation.angle; // current screen orientation
            alert("orientation has been changed")
        });

        window.addEventListener("compassneedscalibration", function () {
            alert("Compass needs calibration. Please rotate.");
        });

        function onKeyStroke(key) {
            if (key == document.querySelector(`[data-key="arrowup"]`)) {
                thrust = Math.min(thrust + 10, 100);
            }
            if (key == document.querySelector(`[data-key="arrowdown"]`)) {
                thrust = Math.max(thrust - 10, -100);
            }

            if (key == document.querySelector(`[data-key="arrowright"]`)) {
                steering = Math.min(steering + 10, 100);
            }
            if (key == document.querySelector(`[data-key="arrowleft"]`)) {
                steering = Math.max(steering - 10, -100);
            }

            document.getElementById("slider-thrust").value = thrust.toFixed(2);
            document.getElementById("slider-steering").value = steering.toFixed(2);

            document.getElementById("thrust").innerText = thrust.toFixed(2);
            document.getElementById("steering").innerText = steering.toFixed(2);

            const request = new XMLHttpRequest()
            request.open("POST", "/rover_control")
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(JSON.stringify({ "thrust": thrust.toFixed(2), "steering": steering.toFixed(2) }));
        };

        function getRotationMatrix(alpha, beta, gamma) {
            const degtorad = Math.PI / 180; // Degree-to-Radian conversion
            var cX = Math.cos(beta * degtorad);
            var cY = Math.cos(gamma * degtorad);
            var cZ = Math.cos(alpha * degtorad);
            var sX = Math.sin(beta * degtorad);
            var sY = Math.sin(gamma * degtorad);
            var sZ = Math.sin(alpha * degtorad);

            var m11 = cZ * cY - sZ * sX * sY;
            var m12 = - cX * sZ;
            var m13 = cY * sZ * sX + cZ * sY;

            var m21 = cY * sZ + cZ * sX * sY;
            var m22 = cZ * cX;
            var m23 = sZ * sY - cZ * cY * sX;

            var m31 = - cX * sY;
            var m32 = sX;
            var m33 = cX * cY;

            return [
                m13, m11, m12,
                m23, m21, m22,
                m33, m31, m32
            ];
        };

        function getEulerAngles(matrix) {
            var radtodeg = 180 / Math.PI; // Radian-to-Degree conversion
            var sy = Math.sqrt(matrix[0] * matrix[0] + matrix[3] * matrix[3]);

            var singular = sy < 1e-6; // If

            if (!singular) {
                var x = Math.atan2(matrix[7], matrix[8]);
                var y = Math.atan2(-matrix[6], sy);
                var z = Math.atan2(matrix[3], matrix[0]);
            } else {
                var x = Math.atan2(-matrix[5], matrix[4]);
                var y = Math.atan2(-matrix[6], sy);
                var z = 0;
            }
            return [radtodeg * x, radtodeg * y, radtodeg * z];
        };

        function convertRange(value, r1, r2) {
            return (value - r1[0]) * (r2[1] - r2[0]) / (r1[1] - r1[0]) + r2[0];
        }

        function requestOrientationPermission() {
            // Note that DeviceMotionEvent is mobile functionality,
            // so it will not work for desktop browsers
            if (typeof DeviceMotionEvent.requestPermission !== 'function') {
                const error_text = "Device does not support orientation sensor!";
                console.error(error_text)
                alert(error_text)
                return;
            }

            DeviceOrientationEvent.requestPermission()
                .then(response => {
                    console.log(1)
                    if (response == 'granted') {
                        window.addEventListener('deviceorientation', (e) => {
                            const alpha = event.alpha;
                            const beta = event.beta;
                            const gamma = event.gamma;

                            document.getElementById("orient_alpha").innerText = alpha;
                            document.getElementById("orient_beta").innerText = beta;
                            document.getElementById("orient_gamma").innerText = gamma;
                        })
                    }
                    console.log(2)
                })
                .catch(console.error)
        }

        function roverControlStartStop(element) {
            isRoverStopped = !isRoverStopped;
            if (isRoverStopped) {
                element.textContent = "Start"
            }
            else {
                element.textContent = "Stop"
            }

            const request = new XMLHttpRequest()
            request.open("POST", "/rover_control_start_stop")
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(JSON.stringify({ "isRoverStopped": isRoverStopped }));
        };

        function roverControlLight(element) {
            isLightOn = !isLightOn;
            if (isLightOn) {
                element.textContent = "Light Off"
            }
            else {
                element.textContent = "Light On"
            }
            const request = new XMLHttpRequest()
            request.open("POST", "/rover_control_light")
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(JSON.stringify({ "isLightOn": isLightOn }));
        };

        function roverControlModeSwitch(element) {
            isManuelModeActive = !isManuelModeActive;
            if (isManuelModeActive) {
                element.textContent = "Set to Auto Drive"
            }
            else {
                element.textContent = "Set to Manuel Drive"
            }
            const request = new XMLHttpRequest()
            request.open("POST", "/rover_control_mode_switch")
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(JSON.stringify({ "isManuelModeActive": isManuelModeActive }));
        };

    </script>

    <script src="../static/js/leaflet.js"></script>

    <script>
        // Home location
        let home_lat = 0;
        let home_lon = 0;
        let home_alt = 0;
        let firstHomeLocUpdate = false;

        // Waypoint Array
        const waypoints = [];

        // Creating map options
        var mapOptions = {
            center: [home_lat, home_lon],
            zoom: 12
        }

        // Creating a map object
        var map = new L.map('rover-map', mapOptions);

        // Creating a Layer object
        var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

        // Adding layer to the map
        map.addLayer(layer);

        newMarkerGroup = new L.LayerGroup();
        map.on('dblclick', addWaypoint);

        // Dynamic Map height using resize observer
        let mapResizeObserver = new ResizeObserver(() => {
            $("#rover-map").height($("#rover-stream").height());
            map.invalidateSize();
        });
        mapResizeObserver.observe(document.getElementById("rover-stream"));
        //$("#rover-stream").on("resize", function () { console.log($("#rover-stream").height()); $("#rover-map").height($("#rover-stream").height()); map.invalidateSize(); }).trigger("resize");

        // Create Home marker
        var homeMarkerIcon = L.icon({
            iconUrl: '../static/js/images/marker-icon-red.png',
            shadowUrl: '../static/js/images/marker-shadow.png',

            iconSize: [25, 41], // size of the icon
            shadowSize: [41, 41], // size of the shadow
            iconAnchor: [12, 41], // point of the icon which will correspond to marker's location
            shadowAnchor: [13, 41],  // the same for the shadow
            popupAnchor: [1, -34] // point from which the popup should open relative to the iconAnchor
        });

        let homeMarker = new L.marker([home_lat, home_lon], { icon: homeMarkerIcon }).addTo(map);

        // Get home location
        getLocation()

        // Update initial home position for Mission Control Pane
        var inputLatitude = document.getElementById('inputLatitude')
        inputLatitude.setAttribute('value', home_lat);
        var inputLongitude = document.getElementById('inputLongitude');
        inputLongitude.setAttribute('value', home_lon);

        // Create a timer that update home location in every speceified ms
        setInterval(getLocation, 5000);
        
        function getLocation() {
            if (navigator.geolocation) {
                //navigator.geolocation.watchPosition(setHomePosition);
                navigator.geolocation.getCurrentPosition(setHomePosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function setHomePosition(position) {
            home_lat = position.coords.latitude;
            home_lon = position.coords.longitude;
            home_alt = position.coords.altitude;
            console.log(home_lat);
            addHomeMarker();

            document.getElementById("home_geo_lat").innerText = position.coords.latitude;
            document.getElementById("home_geo_lon").innerText = position.coords.longitude;
            document.getElementById("home_geo_alt").innerText = position.coords.altitude;
            document.getElementById("home_geo_accuracy").innerText = position.coords.accuracy;

            // Center map to home position on first location update
            if (!firstHomeLocUpdate) {
                firstHomeLocUpdate = true;
                map.panTo(new L.LatLng(home_lat, home_lon));
            }
        }

        function addHomeMarker() {
            // Add marker to map at click location; add popup window
            console.log(home_lat)
            console.log(home_lon)
            if (home_lat == NaN || home_lon == NaN) return;
            var newHomeLoc = new L.LatLng(home_lat, home_lon);
            homeMarker.setLatLng(newHomeLoc);
            var popup = homeMarker.bindPopup(`<br><strong>Home Point</strong></br> Latitude:${home_lat.toFixed(6)}\n Longitude:${home_lon.toFixed(6)}`);
        }

        function addWaypoint(e) {
            // Add marker to map at click location; add popup window
            L.marker()
            var newMarker = new L.marker(e.latlng).addTo(map);
            var popup = newMarker.bindPopup(`Latitude:${e.latlng.lat.toFixed(6)}\n Longitude:${e.latlng.lng.toFixed(6)}`);

            var tbodyRef = document.getElementById('table_waypoints').getElementsByTagName('tbody')[0];
            var id = tbodyRef.rows.length;

            appendNewWaypointIntoList(id, e.latlng.lat.toFixed(6), e.latlng.lng.toFixed(6), 'Wait');
        }

    </script>

    <script>
        $("#buttonImportWaypoints").change(function () {
            filename = this.files[0].name;
            console.log(filename);
        });

        $("#buttonExportWaypoints").change(function () {
            if (waypoints.length <= 0) {
                alert("No waypoints to export!");
                return;
            }

            filename = this.files[0].name;
            console.log(filename);
        });

        function onClickAddNewWaypoints(sender) {
            var tbodyRef = document.getElementById('table_waypoints').getElementsByTagName('tbody')[0];

            var inputID = tbodyRef.rows.length;
            var inputLatitude = document.getElementById('inputLatitude').value;
            var inputLongitude = document.getElementById('inputLongitude').value;
            var inputAction = document.getElementById('inputAction').value;

            // Append waypoint at the end of the row
            appendNewWaypointIntoList(inputID, inputLatitude, inputLongitude, inputAction);
        }

        function onClickClearAllWaypoints(sender){
        }

        function appendNewWaypointIntoList(ID, Lat, Lon, Action) {
            var tbodyRef = document.getElementById('table_waypoints').getElementsByTagName('tbody')[0];

            // Insert a row at the end of table
            var newRow = tbodyRef.insertRow();

            var cell_0 = newRow.insertCell();
            var newID = document.createTextNode(`${ID}`);
            cell_0.appendChild(newID);

            var cell_1 = newRow.insertCell();
            var newLatitude = document.createTextNode(`${Lat}`);
            cell_1.appendChild(newLatitude);

            var cell_2 = newRow.insertCell();
            var newLongitude = document.createTextNode(`${Lon}`);
            cell_2.appendChild(newLongitude);

            var cell_3 = newRow.insertCell();
            var newAction = document.createTextNode(`${Action}`);
            cell_3.appendChild(newAction);
        }

        function clearWaypointFromList(ID) {

        }

    </script>

    <script src="../static/js/sortable-table.js"></script>

    <!--script>
        const videoTag = document.getElementById("live_cam");

    .toFixed(2)    // creating the MediaSource, just with the "new" keyword, and the URL for it
        const myMediaSource = new MediaSource();
        const url = URL.createObjectURL(myMediaSource);

        // attaching the MediaSource to the video tag
        videoTag.src = url;
     </script-->
</body>

{% endblock %}